<script type="text/javascript">
  var market_data = []
  <% @countries.each do |country| %>
    <% begin %>
      <% markets = MarketData.where(country: country) %>
      <% market_data_value = [] %>
      <% markets.each do |market| %>
        <% market_data = market.market_data %>
        <% json_market_data = JSON.parse(market_data[30..-3].gsub('"previous_close" : ','"previous_close" : "')) %>
        <% market_data_value << {:market => market.market_name, :previous_close => json_market_data['meta']['previous_close'], :close => json_market_data['series'].last['close']} %>
      <% end %>
      market_data['<%= country %>'] = "<%= market_data_value.present? ? market_data_value:'not exist' %>"
    <% rescue %>
      market_data['<%= country %>'] = "<%= market_data_value.present? ? market_data_value:'not exist' %>"
    <% end %>
  <% end %>
</script>
<%= render :partial => 'info_overlay' %>
<%= render :partial => 'about' %>
<div id="news_container">
  <div id='container'>
    <%= render :partial => 'news_feeds_content', :locals => {:country => 'USA'} %>
  </div>
</div>
<script type="text/javascript">
  $('#container').masonry({
    itemSelector: '.box',
    columnWidth: 100,
    isFitWidth: true,
    isAnimated: true
  });
</script>
